doctype html
html(ng-app='angulator')
  head
    title Angulator
    link(rel='stylesheet', href='/index.css')
  body(ng-controller='MainController')
    h1 Angulator

    script(src='/vendor/angular/angular.js')
    script(src='/index.js')
